.with-nav-tabs.panel-info .nav-tabs > li > a,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
}
.with-nav-tabs.panel-info .nav-tabs > .open > a,
.with-nav-tabs.panel-info .nav-tabs > .open > a:hover,
.with-nav-tabs.panel-info .nav-tabs > .open > a:focus,
.with-nav-tabs.panel-info .nav-tabs > li > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li > a:focus {
	color: #31708f;
	background-color: #bce8f1;
	border-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs > li.active > a,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:hover,
.with-nav-tabs.panel-info .nav-tabs > li.active > a:focus {
	color: #31708f;
	background-color: #fff;
	border-color: #bce8f1;
	border-bottom-color: transparent;
}
.with-nav-tabs.panel-info .nav-tabs {
    list-style-type: none;
    overflow: hidden;
}

/* hide the list item that contains the link that should open and close the topnav on small screens */
ul.nav-tabs li.icon {
    display: none;
}

h2.header {
    float: left;
}

div#content {
    padding-left: 40px;
    padding-right: 40px;
}

div.information-box-link {
    float: left;
    margin-top: 26px;
    margin-left: 15px;
    background-color: #BCDBEA;
    border-radius: 50%;
    text-align: center;
    width: 24px;
    height: 24px;
    font-size: 14px;
    line-height: 26px;
    cursor: pointer;
}

div.information-box-link:before {
	content:'?';
	font-weight: bold;
	color:#fff;
}

div.information-box {
    display: none;
    margin-top: 25px;
    margin-left: 15px;
    margin-bottom: 20px;
    padding: 5px;
    border-left: 1px solid #ccc;
}

@-webkit-keyframes fadeIn {
	0% {
		opacity:0;
		transform: scale(0.6);
	}

	100% {
		opacity:100%;
		transform: scale(1);
	}
}

@keyframes fadeIn {
	0% { opacity:0; }
	100% { opacity:100%; }
}

#loading {
   width: 100%;
   height: 100%;
   top: 0px;
   left: 0px;
   position: fixed;
   display: block;
   opacity: 0.7;
   background-color: #fff;
   z-index: 99;
   text-align: center;
}

#loading-image {
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
  z-index: 100;
}

#successMessage {
    font-family:Arial,Helvetica,sans-serif;
    position:fixed;
    top:0px;
    left:0px;
    width:100%;
    z-index:105;
    text-align:center;
    font-weight:bold;
    font-size:100%;
    color:white;
    padding:10px 0px 10px 0px;
    background-color:#8E1609;
}

#successMessage span {
    text-align: center;
    width: 95%;
    float:left;
}

body {
    font: 14px 'Open Sans';
    color: #2C3E50;
}

p, h2, h3 {
    padding-left: 10px;
}

table.config {
    width: 90%;
    margin-left: 20px;
}

table.config td {
    padding-top: 5px;
}

table.config td:nth-child(2) {
    width: 280px;
}

table.config td:last-child {
    padding-left: 10px;
}

table.config td:first-child {
    font-weight: bold;
    width: 230px;
}

table.config tr {
    border-bottom: 1px solid #DDD;
}

br {
    display: block;
    line-height: 1.6em;
}

input, textarea {
    -webkit-font-smoothing: antialiased;
    outline: none;
}

div.wrapper textarea {
    width: 100%;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

strong, b {
    font-weight: bold;
}

em, i {
    font-style: italic;
}

h1 {
    display: block;
    font-size: 1.5em;
    line-height: 1.0em;
    font-family: 'Laila', serif;
    text-align: center;
    font-weight: bold;
    color: #555;
    text-shadow: 1px 1px 0 #fff;
}

form {
    display: block;
    margin: 10px;
    overflow: hidden;
    background: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 5px;
}

form > div > label {
    display: block;
    padding: 10px 10px 10px;
    vertical-align: top;
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
    color: #939393;
    cursor: pointer;
}

form > div.switch > label {
    padding: 16px 20px 13px;
}

.col-2, .col-3, .col-4 {
    border-bottom: 1px solid #e4e4e4;
}

form > div > .col-4 {
    height: 86px;
}

.col-submit {
    text-align: center;
    padding: 20px;
}

label > input {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 27px;
    line-height: 27px;
    margin: 5px -5px 0;
    padding: 7px 5px 3px;
    border: none;
    outline: none;
    color: #555;
    font-family: 'Helvetica Neue', Arial, sans-serif;
    font-weight: bold;
    font-size: 14px;
    opacity: .6;
    transition: all linear .3s;
}

select#choose-domain {
    display: inline-block;
    width: 100px;
}

div.input-container {
    box-shadow: 1px 1px #e4e4e4;
    border: none;
    min-height: 74px;
}

button {
    padding: 0.5em 1em;
    border: 1px solid #d4d4d4;
    margin: 0;
    text-decoration: none;
    text-align: center;
    text-shadow: 1px 1px 0 #fff;
    font:11px/normal sans-serif;
    color: #333;
    white-space: nowrap;
    outline: none;
    background-color: #ececec;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f4f4f4), to(#ececec));
    background-image: -moz-linear-gradient(#f4f4f4, #ececec);
    background-image: -ms-linear-gradient(#f4f4f4, #ececec);
    background-image: -o-linear-gradient(#f4f4f4, #ececec);
    background-image: linear-gradient(#f4f4f4, #ececec);
    -moz-background-clip: padding; /* for Firefox 3.6 */
    background-clip: padding-box;
    border-radius: 0.2em;
    /* IE hacks */
    zoom: 1;
}

button:hover,
button:focus,
button:active,
button.active {
    border-color: #3072b3;
    border-bottom-color: #2a65a0;
    text-decoration: none;
    text-shadow: -1px -1px 0 rgba(0,0,0,0.3);
    color: #fff;
    background-color: #3c8dde;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#599bdc), to(#3072b3));
    background-image: -moz-linear-gradient(#599bdc, #3072b3);
    background-image: -o-linear-gradient(#599bdc, #3072b3);
    background-image: linear-gradient(#599bdc, #3072b3);
}

button:active,
button.active {
    border-color: #2a65a0;
    border-bottom-color: #3884cd;
    background-color: #3072b3;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#3072b3), to(#599bdc));
    background-image: -moz-linear-gradient(#3072b3, #599bdc);
    background-image: -ms-linear-gradient(#3072b3, #599bdc);
    background-image: -o-linear-gradient(#3072b3, #599bdc);
    background-image: linear-gradient(#3072b3, #599bdc);
}

@media screen and (min-width: 850px) {
  form > div { display: inline-block; }
  .col-submit { display: block; }

  .col-2, .col-3, .col-4 { box-shadow: 1px 1px #e4e4e4; border: none; }

  .col-2 { width: 50% }
  .col-3 { width: 33.3333333333% }
  .col-4 { width: 24% }

  .col-submit button { width: 30%; margin: 0 auto; }
}

@media screen and (min-width:681px) {
    div.conf {
        display: inline-block;
        vertical-align: middle;
    }
    div.conf-col-2 {
        display: inline-block;
        padding: 10px;
        width: 50%
    }
    div.conf-col-3 { width: 33.3333333333% }
    div.conf-col-4 { width: 24% }
}

@media screen and (max-width:680px) {
    li.paginate_button.previous {
        display: inline-block !important;
    }

    li.paginate_button.next {
        display: inline-block !important;
    }

    li.paginate_button {
        display: none !important;
    }

    div.conf-col-2 {
        display: block;
        vertical-align: middle;
        width: 100%;
        padding: 10px;
        border-bottom: 1px solid #666;
    }

    div.conf-col-4 {
        display: inline-block;
        vertical-align: middle;
        width: 49%;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 10px;
        padding-bottom: 5px;
    }

    /* when the screen is less than 680 pixels wide, hide all list items, except for the first one ("Home"). Show the list
    item that contains the link to open and close the topnav (li.icon) */
    ul.nav-tabs li:not(:first-child) {
        display: none;
    }
    ul.nav-tabs li.icon {
        float: right;
        display: inline-block;
    }

    div#content {
        padding-left: 20px;
        padding-right: 20px;
    }

    /* the "responsive" class is added to the topnav with JavaScript when the user clicks on the icon */
    ul.nav-tabs.responsive {
        position: relative;
    }
    ul.nav-tabs.responsive li.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    ul.nav-tabs.responsive li {
        float: none;
        display: inline;
    }
    ul.nav-tabs.responsive li a {
        display: block;
        text-align: left;
    }
}