@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,700);
@import url(https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic);

#network {
    display: inline-block;
    width: 1000px;
    height: 600px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #86d5f8;
    background-color: #f8f8f8;
}

.model-card {
    float: left;
    width: 280px;
    height: 200px;
    overflow: hidden;
    border-radius: 10px;
    margin: 10px;
    background-color: #53646C;
    box-shadow: 3px 3px 20px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.model-title-version {
  text-align: center;
}

.model-card h3 {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 2px;
  color: #9CC9E3;
  font-family: "Roboto", sans-serif;
  margin-bottom: 0;
}

.model-card hr {
  width: 50px;
  height: 3px;
  margin: 20px auto;
  border: 0;
  background: #D0BB57;
}

.model-version {
  width: 250px;
  margin: 0 auto;
  color: #DCE3E7;
  font-family: "Droid Serif", serif;
  font-size: 13px;
  font-style: italic;
  line-height: 18px;
}

.model-info {
  width: 100%;
  margin: 0 auto;
  padding: 0 50px;
  color: #DCE3E7;
  font-family: "Droid Serif", serif;
  line-height: 24px;
  z-index: 20;
}
