.dialog-container {
  top: 10%;
  right: 7%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: fixed;
  z-index: $dialog-z-index;

  .dialog {
    border-radius: 5px;
    top: 35px;
    width: auto;
    margin-top: 10px;
    position: relative;
    max-width: 100%;
    height: auto;
    min-height: 48px;
    line-height: 1.5em;
    word-break: break-all;
    background-color: #323232;
    padding: 10px 25px;
    font-size: 1.1rem;
    font-weight: 300;
    color: #fff;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
  }
}
