<!DOCTYPE html>
<html>
<head>
    <meta charset=utf-8>
    <meta name=viewport content="width=device-width,initial-scale=1">
    <meta http-equiv=X-UA-Compatible content="ie=edge">
    {% if config.FLOATING_MENU == True %}
        <meta name="rhum">
    {% endif %}
    <meta name=base content={{ config.ROOT_URL }}>
    <meta name=environment content={{ environment }}>
    <meta name=version content={{ version }}>

    <title>Logistik Dashboard</title>

    <link rel="stylesheet" type="text/css" media="all" href="static/jquery.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" media="all" href="static/datatables.min.css"/>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">

    <script type="text/javascript" src="static/jquery-2.2.2.min.js"></script>
    <script type="text/javascript" src="static/datatables.min.js"></script>
    <script type="text/javascript" src="static/sigma.min.js"></script>
    <script type="text/javascript" src="static/vis.js"></script>
    <link href="static/vis-network.min.css" rel="stylesheet" type="text/css" />

    <script type="text/javascript" src="static/custom/js/index.js"></script>
    <link rel="stylesheet" type="text/css" href="static/custom/css/style.css" />
</head>
<body>
    <div>
        <h2>Deployed Models</h2>
        <div id="network"></div>
    </div>
    <div>
        <h2>Structure</h2>
        <div id="graph-container">
            <div id="graph"></div>
        </div>
    </div>
    <div>
        <h2>Handlers</h2>
        <table id="handlers" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Event</th>
                <th>Enabled</th>
                <th>Endpoint</th>
                <th>Version</th>
                <th>Path</th>
                <th>Model Type</th>
                <th>Node</th>
                <th>method</th>
                <th>Timeout</th>
                <th>Retries</th>
                <th>Service ID</th>
                <th>Tags</th>
                <th>Return-To</th>
            </thead>
            <tbody>
                {% for handler in handlers %}
                    <tr>
                        <td>{{ handler['identity'] }}</td>
                        <td>{{ handler['name'] }}</td>
                        <td>{{ handler['event'] }}</td>
                        <td>{{ handler['enabled'] }}</td>
                        <td>{{ handler['endpoint'] }}</td>
                        <td>{{ handler['version'] }}</td>
                        <td>{{ handler['path'] }}</td>
                        <td>{{ handler['model_type'] }}</td>
                        <td>{{ handler['node'] }}</td>
                        <td>{{ handler['method'] }}</td>
                        <td>{{ handler['timeout'] }}</td>
                        <td>{{ handler['retries'] }}</td>
                        <td>{{ handler['service_id'] }}</td>
                        <td>{{ handler['tags'] }}</td>
                        <td>{{ handler['return_to'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Aggregated Statistics</h2>
        <table id="aggregated" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>Event</th>
                <th>Service ID</th>
                <th>Type</th>
                <th>Model Type</th>
                <th>Node</th>
                <th>Count</th>
            </thead>
            <tbody>
                {% for stat in agg_stats %}
                    <tr>
                        <td>{{ stat['event'] }}</td>
                        <td>{{ stat['service_id'] }}</td>
                        <td>{{ stat['stat_type'] }}</td>
                        <td>{{ stat['model_type'] }}</td>
                        <td>{{ stat['node'] }}</td>
                        <td>{{ stat['count'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div>
        <h2>Event Statistics</h2>
        <table id="stats" class="display responsive" cellspacing="0" width="100%">
            <thead>
                <th>ID</th>
                <th>Name</th>
                <th>Event</th>
                <th>Result</th>
                <th>Endpoint</th>
                <th>Version</th>
                <th>Model Type</th>
                <th>Node</th>
                <th>Service ID</th>
                <th>Event Time</th>
                <th>Event ID</th>
                <th>Event Verb</th>
            </thead>
            <tbody>
                {% for stat in stats %}
                    <tr>
                        <td>{{ stat['identity'] }}</td>
                        <td>{{ stat['name'] }}</td>
                        <td>{{ stat['event'] }}</td>
                        <td>{{ stat['stat_type'] }}</td>
                        <td>{{ stat['endpoint'] }}</td>
                        <td>{{ stat['version'] }}</td>
                        <td>{{ stat['model_type'] }}</td>
                        <td>{{ stat['node'] }}</td>
                        <td>{{ stat['service_id'] }}</td>
                        <td>{{ stat['event_time'] }}</td>
                        <td>{{ stat['event_id'] }}</td>
                        <td>{{ stat['event_verb'] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</body>
</html>
